* {
    box-sizing: border-box;
    /* правильное отображение ширины и высоты 
    всех элементов с учетом марджинов и паддингов */
    margin: 0;
    padding: 0;
    /* чтобы все элементы сбросили все свои значения 
    по умолчанию */
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    /* так блочный элемент ставиться по центру */
}

.promo {
    /* ширину пропускаем, потому что в дальнейшем
    она будет подстраиваться под другие размеры экрана */
    height: 800px;
    background: url('../img/bg/main_page.jpg') center center/cover no-repeat;
    padding: 38px 0 0 0;
}

.logo .logo_img {
    /* наследование */
    display: block;
    margin: 0 auto;
    /* делаем картинку в блочном отображении и ставим по центру */

}

.logo .logo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    /* скопировать в фигме в инспекторе */
}

h1 {
    margin-top: 53px;
}

.title {
    color: #F9BF3B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;

}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: 'Roboto-bold';
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    /* margin: 73px auto;
    По вертикали отступы 73пкс, по горизонтали выравнивание */

    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);

    /* Текст в кнопке */
    padding: 15px 24px 15px 24px;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    /* изменения мышки при наведении на кнопку */
    outline: none;
    /* убрать синюю обводку при наведении мышкой */
}

.more {
    margin-top: 50px;
    margin-bottom: 61px;
}

.more .more_text {
    font-family: 'Roboto - Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 29px;
    height: 18px;
    cursor: pointer;

}

.waiting {
    min-height: 604px;
    background: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;

}

.finish .finish_header {
    color: #FFFFFF;
}

.waiting .waiting_divider,
.finish .finish_divider {
    width: 217px;
    height: 4px;
    background: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {

    width: 338px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #4A4A4A;
}

.optimization {
    min-height: 550px;
    padding: 107px 0 74px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #299CBD;
}

.optimization .optimization_text {
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;

}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -40px;
    left: -240px;
    z-index: -1;

}

.finish {
    min-height: 447px;
    padding: 86px 0 68px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;

}

.finish .finish_wrapper {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EFEFEF;
}

.prize {
    min-height: 631px;
    padding: 88px 0 88px 0;
    background: #EFEFEF;

}

.prize .prize_img {
    width: 154px;
    height: 174px;
    display: block;
    margin: 0 auto;
}

.prize .prize_text {
    margin-top: 45px;
    width: 1046px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #252525;
}

.prize .prize_btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 4);

    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;

    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    border: none
}

.webinar {
    height: 510px;
    background: #ffff;
    padding: 50px 0 79px 0;
}

.webinar .img_web {
    width: 342px;
    height: 201px;
    display: block;
    margin: 0 auto;
}

.webinar .text_web_first {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #252525;
    margin-top: 30px;

}

.webinar .text_web_date {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #299CBD;

}

.webinar .text_web_hurry {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;

    color: #4A4A4A;

}

.footer {
    padding: 57px 0 69px 0;
    height: 169px;
    background-color: #1A1A1A;
    display: flex;
    
}

.footer .service {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

.footer .callUs {
    color: #888888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}
.line{
    margin: 0 3px 0 3px;
}